.node {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100px !important;
    width: 100px !important;
    height: 100px !important;
    background-color: #303030;
    border: 1px solid black;
    border-radius: 50px;
    color: white;
}

.label {
    text-overflow: ellipsis;

    text-align: center;

    padding: 0 5px;
    width: 100%;
    max-height: 45px;
}